.App {
    text-align: center;
    display: flex;
    justify-content: space-around;
    /*margin: 250px;*/
}

.view {
    background-color: #2e3c5d;
    width: 500px;
    color: white;
    margin: 10px;
    padding: 10px;
}

.set {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
    background-color: #2e3c5d;
    color: white;
    margin: 10px;
    padding: 20px;
}

.set input {
    margin: 10px 150px 10px 150px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: none;
}

.set button {
    margin: 20px 150px 10px 150px;
    border-radius: 10px;
    border: none;
}

.redValue {
    color: red;
}