.App {
    text-align: center;
    display: flex;
    justify-content: space-around;
    /*margin: 250px;*/
}

.view {
    background-color: green;
    width: 500px;
}

.set {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
}